*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-top{
    margin-left: 20px !important;
    height: 60px;
    margin-top: 10px;
}
.header-top_left .logo-facebook{
    width: 40%;
    float: left;
}
.search-facebook{
    margin-top: 5px;
    width: 100%;
}
input.search{
    width: 250px;
    margin-left: -125px;
    border-radius:50px;
    /* border:1px; */

    /* border: 1px solid; */
    height: 30px;
}
.fa-search:before {
    content: "\f002";
    /* background: black; */
    position: relative;
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    margin-left: -110px;
}
.header-top_midle{
    margin-top: 5px!important;
}
.header-top_midle i{
    font-size: 30px;
    float: left;
    display: block;
    padding: 0 55px;
}
.header-top_midle{
    overflow: hidden;
    position: relative;
}
.header-top_right{
    margin-top: 5px!important;
    margin-left: 0px;
}
.user-avatar img{
    width: 30px !important;;
    height:30px;
    border-radius: 30px;
    float: left;
}
.header-top_right i{
    font-size: 30px;
    float: left;
    display: block;
    padding: 0 35px;
}
span{
    background-color: beige;
    padding: 20px;
    display: none;
    width: 20px;
}
i.fa-home:hover + span{
    display: block;
}